@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
}
h1{
    color:aliceblue;
    font-family: "Bokor", serif;
}
#name{
    color:rgb(173, 209, 242);
    font-size:50px;
}
#va{
    color:aqua;
    font-size: 50px;
}
#voice{
        width: 100px;
        display:none;
}
#btn{
       width: 30%;
       background: linear-gradient(to right,rgb(29, 72, 86),rgb(29, 72, 86));
       padding: 10px;
       display: flex;
       align-items: center;
       justify-content:center;
       gap: 10px;
       font-size: 20px;
       border-radius: 20px;
       color: white;
       box-shadow: 2px 2px 10px ,rgb(29, 72, 86), 2px 2px 10px rgb(29, 72, 86);
       border: none;
       transition: all 0.5s;
       cursor: pointer;
}
#btn: hover{
    box-shadow: 2px 2px 10px ,rgb(29, 72, 86), 2px 2px 10px rgb(29, 72, 86);
    letter-spacing: 2px;

}
